<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Serviços Anunciados", services_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Serviços Reservados", your_reservation_services_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Serviços Contratados", your_contracted_services_path, class: "sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
  <% if @contracted_services.present? %>
    <div class="panel panel-default">      
      <div class="panel-heading">
        Serviços Contratados Abertos
      </div>
      <div class="panel-body">

        <% @contracted_services.each do |contracted_service| %>
          <% if contracted_service.end_date >= Time.now %>
            <div class="row">
              <div class="col-md-2">
                <span>
                  <%= contracted_service.start_date.strftime('%d/%m/%Y') %> a <br/>
                  <%= contracted_service.end_date.strftime('%d/%m/%Y') %>
                </span>
              </div>
              <div class="col-md-2">
                <%= link_to service_path(contracted_service.service) do %>
                  <%= image_tag contracted_service.service.cover_photo, :size => "80x50" %>
                <% end %>
              </div>
              <div class="col-md-5">
                <%= link_to contracted_service.service.listing_name, service_path(contracted_service.service) %><br/><br/>
                <span>
                  <%= image_tag avatar_url(contracted_service.service.user), class: "img-circle avatar-small" %>
                  <%= link_to user_path(contracted_service.service.user) do %>
                      <%= contracted_service.service.user.fullname %>
                  <% end %>
                </span>
              </div>
              
              <div class="col-md-3 text-right">
                <%= render partial: "review_services/guest_form", locals: {reservation_service: contracted_service} %>
              </div>

            </div>
            <hr/>
          <% end %>
        <% end %>
      </div>
    </div>
   
    <div class="panel panel-default">
      <div class="panel-heading">
        Serviços Contratados Encerrados
      </div>
      <div class="panel-body">

        <% @contracted_services.each do |contracted_service| %>
          <% if contracted_service.end_date < Time.now %>
            <div class="row">
              <div class="col-md-2">
                <span>
                  <%= contracted_service.start_date.strftime('%d/%m/%Y') %> a <br/>
                  <%= contracted_service.end_date.strftime('%d/%m/%Y') %>
                </span>
              </div>
              <div class="col-md-2">
                <%= link_to service_path(contracted_service.service) do %>
                  <%= image_tag contracted_service.service.cover_photo, :size => "80x50" %>
                <% end %>
              </div>
              <div class="col-md-5">
                <%= link_to contracted_service.service.listing_name, service_path(contracted_service.service) %><br/><br/>
                <span>
                  <%= image_tag avatar_url(contracted_service.service.user), class: "img-circle avatar-small" %>
                  <%= link_to user_path(contracted_service.service.user) do %>
                      <%= contracted_service.service.user.fullname %>
                  <% end %>
                </span>
              </div>
              
              <div class="col-md-3 text-right">
                <%= render partial: "review_services/guest_form", locals: {reservation_service: contracted_service} %>
              </div>

            </div>
            <hr/>
          <% end %>
        <% end %>
      </div>
    </div>
    <% else %>
      <div class="panel panel-default"> 
        <div class="panel-body">
          <span>Não há serviços contratados.</span>
        </div>
      </div>
    <% end %>
  </div>
</div>

