<div class="row">
  <div class="col-md-3">
    <%= render 'service_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Descrição
      </div>

      <div class="panel-body">
        <div class="container">
        	<%= form_for @service do |f| %>
              	<div class="row">
	              	<div class="form-group">
	              		<label>Título</label>
	              		<%= f.text_field :listing_name, placeholder: "Qual o nome do seu serviço?", class: "form-control", required: true %>
	              	</div>
	            </div>
	            <div class="row">
	              	<div class="form-group">
	              		<label>Descrição</label>
	              		<%= f.text_area :summary, rows: 5, cols: 25, placeholder: "Descreva o seu serviço detalhadamente.", class: "form-control", required: true%>
	              	</div>
	            </div>
	            <div class="text-center">
	            	<%= f.submit "Salvar", class: "btn btn-form" %>
	            </div>
            <% end %>        
        </div>
      </div>

    </div>
  </div>
</div>
