<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<h2 class="text-center">Reenviar Confirmação</h2>
	<br/>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render 'shared/devisemes' %>

	  <div class="form-group">
	    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "E-mail", class: "form-control" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Reenviar instruções para confirmação", class: "btn btn-normal btn-block" %>
	  </div>
	<% end %>
	<br/>
	<%= render "devise/shared/links" %>
  </div>
</div>