<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2 class="text-center">Recuperar Senha</h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render 'shared/devisemes' %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Enviar as instruções para alterar a senha", class: "btn btn-normal btn-block" %>
      </div>
    <% end %>
    <br/>
    <%= render "devise/shared/links" %>
  </div>
</div>
