<!DOCTYPE html>
<html>
<head>
  <title>Publicazo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOH3Ud5zdMDtCXFjYuLRPFzAESGasrU1o&libraries=places"></script>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
</head>
<body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>

    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
